<div class="row">
  <div class="shadow lg col-sm-4 p-3">
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-center" style="background-color:white">

      <img  src="assets/images/house_default.jpg" alt="{{Property.Name}}" width="200" height="120"/>
    </div>
    </div>
    <div class="card-body p-2">
      <h1>{{Property.Name}}</h1>
      <p>{{Property.Type}}</p>
    </div>
    <div class="card-footer">
      <h3>{{Property.Price}}</h3>
    </div>
  </div>
</div>


</div>




